@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* =================HEADER SECTION=============== */

header {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
  background: rgba(26, 11, 46, 1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.logo {
  width: 200px;
  height: 32px;
}

.logo img {
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.hamburger {
  color: #ffffff;
  display: none;
}

.btn {
  padding: 12px 16px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10000px;
  cursor: pointer;
}

.nav-btn {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

/* =================MOBILE RESPONSIVE (576PX)================= */

@media screen and (max-width: 576px) {
  .navbar {
    padding: 20px;
  }

  .logo {
    width: 135px;
    height: 20px;
  }

  .logo img {
    width: 100%;
  }

  .nav-links,
  .nav-btn {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
