@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* =================HEADER SECTION=============== */

header {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
  background: rgba(26, 11, 46, 1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.logo {
  width: 200px;
  height: 32px;
}

.logo img {
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #19ff7a;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #19ff7a;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.hamburger {
  color: #ffffff;
  display: none;
}

.btn {
  padding: 12px 16px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10000px;
  cursor: pointer;
}

.nav-btn {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

.btn {
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(255, 0, 200, 0.35);
}

.subscribe-btn:hover {
  background: #19ff7a;
  color: #140022;
}

/* ============= Hero Section ================ */

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(26, 11, 46, 1) url("assets/hero-bg.png") no-repeat;
  background-size: cover;
  background-position: center;

  padding: 100px 0;
}

.hero-container {
  width: 420px;
  text-align: center;
}

.hero-images {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 0 auto 40px;
}

.hero-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255, 0, 200, 0.45);
}

.hero-mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
}

.hero-badge {
  position: absolute;
  top: 12px;
  right: -10px;
  color: rgba(26, 11, 46, 1);
  padding: 8px 16px;
  border-radius: 1000px;
  font-size: 1.125rem;
  font-weight: 600;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  background: rgba(0, 255, 136, 1);
  animation: pulseMove 1.8s infinite ease-in-out;
}

@keyframes pulseMove {
  0% {
    transform: scale(1) translateY(0);
    box-shadow: 0 0 0 rgba(0, 255, 136, 0.7);
  }
  50% {
    transform: scale(1.08) translateY(-2px);
    box-shadow: 0 0 25px rgba(0, 255, 136, 0.9);
  }
  100% {
    transform: scale(1) translateY(0);
    box-shadow: 0 0 0 rgba(0, 255, 136, 0.7);
  }
}

.hero-title {
  font-size: 40px;
  margin-bottom: 12px;
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
}

.hero-text {
  font-size: 15px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.color-btn,
.subscribe-btn {
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.color-btn {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

.subscribe-btn {
  background: transparent;
  border: 2px solid #19ff7a;
  color: #19ff7a;
}

.color-btn img,
.subscribe-btn img {
  width: 16px;
}

.about {
  padding: 60px 16px;
  background: rgba(26, 11, 46, 1);
  color: #fff;
}

.about-content {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.about-content h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1rem;

  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 16px;
}

.line {
  margin: 80px 0;
  max-width: 1200px;
  height: 0;
  border: 1px solid rgba(255, 255, 255, 0.048);
}

.about-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}

.stat h3 {
  font-size: 3rem;
  font-weight: 900;
  color: rgba(0, 255, 136, 1);
  margin-bottom: 8px;
}

.stat span {
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
}

/* =================== My TechWave and Featured Section ================ */

.why-techwave {
  padding: 70px 16px;
  background: #140022;
  color: #fff;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.feature-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
}

.feature-card {
  border-radius: 20px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  transition: 0.3s ease;
}

.feature-card:hover,
.episode-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.feature-card img {
  width: 40px;

  margin-bottom: 16px;
}

.feature-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.6);
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.full {
  grid-column: span 2;
}

.featured {
  padding: 100px 20px;
  background: #140022;
  color: #ffffff;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

.episode-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.episode-card {
  background: #230046;
  border-radius: 18px;
  padding: 18px;
  transition: 0.3s ease;
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 18px;
}

.video-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.episode-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.episode-card p {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 14px;
}

.duration {
  font-size: 13px;
  color: #19ff7a;
  font-weight: 500;
}

/* =================Host Section =============== */

.host-section {
  padding: 0 20px 120px;

  background: #140022;
  color: #ffffff;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

.host-card {
  max-width: 1200px;
  margin: auto;
  background: #230046;
  border-radius: 22px;
  padding: 36px;
  display: flex;
  align-items: center;
  gap: 36px;
}

.host-image img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.host-content h3 {
  font-size: 22px;
  margin-bottom: 14px;
}

.host-content p {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.8);
  max-width: 700px;
}

.host-socials {
  display: flex;
  gap: 14px;
  margin-top: 18px;
}

.host-socials a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #1a002e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.host-socials img {
  width: 16px;
}

/* =============== Footer Section ================ */

.site-footer {
  padding: 80px 16px 60px;

  background-image: url("assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 400px;
  height: 60px;
}

.footer-logo img {
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 32px 0;
  flex-wrap: wrap;
}

.footer-links a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
  transform: translateY(-2px);
}

.copyright {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
/* =================MOBILE RESPONSIVE (576PX)================= */

@media screen and (max-width: 576px) {
  .navbar {
    padding: 20px;
  }

  .logo {
    width: 135px;
    height: 20px;
  }

  .logo img {
    width: 100%;
  }

  .nav-links,
  .nav-btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  /* ============== hero section ============= */

  .hero-section {
    min-height: unset;
    max-height: 760px;

    background-size: contain;
    background-position: center 30%;

    padding: 80px 16px 60px;
  }

  .hero-container {
    width: 100%;
  }

  .hero-images {
    width: 230px;
    height: 230px;
  }

  .hero-title {
    font-size: 34px;
  }

  /* =============== About Section ================ */

  .about {
    max-width: 440px;
    padding: 40px 20px;
  }

  .about-content h2 {
    font-size: 1.4rem;
  }

  .about-content p {
    font-size: 1rem;
  }

  .about-stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 20px;
  }

  .stat h3 {
    font-size: 2rem;
  }
  .line {
    margin: 40px 0;
  }

  /* =============== Why TechWabve and Featured Section ================== */

  .section-title {
    font-size: 26px;
  }

  .feature-grid {
    grid-template-columns: 1fr;
  }

  .feature-card,
  .tall,
  .full {
    grid-column: auto;
    grid-row: auto;
    text-align: center;
  }

  .feature-card img {
    margin: 0 auto 14px;
    display: block;
  }
  .section-title {
    font-size: 28px;
  }

  .episode-grid {
    grid-template-columns: 1fr;
  }

  /* ============ Host Section =============== */
  .section-title {
    padding-top: 20px;
    font-size: 28px;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 28px 20px;
  }

  .host-content p {
    max-width: 100%;
  }

  .host-socials {
    justify-content: center;
  }

  /* ============== Footer Section ============== */
  .site-footer {
    padding: 60px 16px 50px;
    background-position: center 45%;
  }

  .footer-logo {
    font-size: 34px;
  }

  .footer-links {
    gap: 16px;
  }

  .footer-links a {
    font-size: 13px;
  }
}
